@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

* {
  font-family: 'Rubik', sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  transition: 0.4s ease;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.z-1000 {
  z-index: 1000;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.centera:focus {
  transform: translateX(-50%);
}

.logo {
  font-family: 'Inspiration', cursive;
}
.font-my {
  font-weight: 400;
}

.active {
  color: blue;
}

.myClass {
  width: 100%;
  height: auto;
  columns: 2;
  columns-gap: 1rem;
  margin-bottom: 2rem;
}
@media screen and (max-width:800px) {
  .myClass {
    columns: 2;
  }
}

@media screen and (max-width:500px) {
  .myClass {
    columns: 1!important;
  }
}

.h-my {
  height: 20rem;
}

.card {
  break-inside: avoid;
}

.grad-1 {
  background-image: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244));
}
.grad-2 {
  background-image: linear-gradient(to right, rgb(0, 180, 219), rgb(0, 131, 176));
}
.grad-3 {
  background-image: linear-gradient(to right, rgb(78, 84, 200), rgb(143, 148, 251));
}

.grad-4 {
  background-image: linear-gradient(to right, rgb(51, 51, 51), rgb(221, 24, 24));
}
.height-my {
  height: 250px;
}

.z-2000 {
  z-index: 2000;
}

.my-Black {
  background: rgba(0,0,0,0.4);
}